.DS_Store
.idea
class2c/target
class2c/.idea
app/out/*
app/out/
app/Debug
app/Release
app/x64
*.out
*.exe
.svn
.vs
tools
target
cmake-*
CMakeFiles
cmake_*

cppapp/out/
class2cpp/target
class2cpp/.idea
